**/__pycache__/**
**.DS_Store
.DS_Store
data/OpportunityUCIDataset/loco_2.npy
# data/OpportunityUCIDataset/loco_2_mask.npy
# ignore png in data folder or any subfolder:
data/**/*.png
data/physiq/physiq_permute_all.npy
/data/WEAR/inertial
/wandb
/save_model
**/.vscode/**
**/.ipynb_checkpoints/**
